
.card2{
  color: black;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  background-color: white;
  // background-image: url("http://www.gc.cuny.edu/CUNY_GC/media/CUNY-Graduate-Center/Images/Provost/Images/code1.jpg?width=640&height=480&ext=.jpg");
}


.card1 {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  color: black;
  border-radius: 6px;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  background-color: white;
}
