---
title: Le Wagon Middleman boilerplate
---
  <div class="welcome text-center padded">
   <h1> <p>Full stack webdeveloper</p></h1>
  </div>

  <div class="container">
    <section id="profile">
      <br>
      <h1>About me</h1>
      <div class="row">
      <div class="col-md-12">

      I'm am specialized in webdevelopment with ruby on rails. I'm a <a href="#" style="text-decoration: none;">le Wagon</a> student from batch #25 Amsterdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto voluptatem id amet molestias ducimus quam nam asperiores fuga repellendus alias, quis, quisquam hic atque nostrum, doloribus rem quod architecto natus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur accusantium earum deleniti maxime assumenda voluptas quos nostrum odit delectus temporibus ratione fugit, praesentium, possimus distinctio dolores provident. Impedit, nam, vitae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque veritatis iste nemo voluptates explicabo, minima nobis expedita sed tempore, dolore, cum quaerat fugiat beatae assumenda similique ex esse. Voluptatem, incidunt.
      </div>
    </div>
  </div>
    </section>

  <div class="container">
    <section id="skills">
      <p>
        <div class="container-skills">
         <h1>My Skills</h1>
         <br>
         <div class="row">
          <div class="col-xs-12 col-md-6">
          <div class="card1">
            <h2>SKILLSET FRONTEND</h2>
            <ul>
              <li>HTML5 & CSS</li>
              <li>JavaScript (scripting language)</li>
              <li>jQuery & React.js(javaScript libraries)</li>
              <li>Bootstrap(mobile-first framework)</li>
              <li>Advancedd CSS techniques(flexbox, grid animations)</li>
              <li>UX/UI best practices</li>
            </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
          <div class="card2">
            <h2>SKILLSET BACK-END</h2>
            <ul>
              <li>Ruby(programming language)</li>
              <li>Ruby on Rails(web application framework)</li>
              <li>SQL (structured query language for rational</li>
              <li>database management systems)</li>
              <li>PostgreSQL</li>
              <li>APIs(application programming inter</li>
            </ul>
            </div>
          </div>
          </div>
        </p>
      </section>
    </div>











  <div class="container">
    <section id="projects">
      <h1>Projects</h1>

    </section>

</div>





      <div class="container">
    <section id="contact">
    <h1>Contact</h1>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <form action="" method="post">
              <div>
                <label for="name">Name:</label>
                <input type="text" value="Enter your name..." id="name">
                </div>

                <div>
                <label for="mail">E-mail</label>
                <input type="text" value="Enter your email..." id=mail>
              </div>

              <div>
                <label for="message">Mesagge:</label>
                <textarea name="" value="Enter your Email..." id="message" cols="30" rows="10"></textarea>
              </div>
            </form>
          </div>
          <div class="col-xs-12 col-md-6"></div>
        </div>

      </div>
  </section>
    </div>
